li{
    display: inline;
}
li a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    font-size: larger;
}
button{
    padding: 5px;
    font-size: larger;
    color: yellowgreen;
    background-color: black;
}
div{
margin: auto;
width:300px;
margin-top: 100px;
text-align: center;
}
p{
    margin: 20px auto;
    border: solid 1px red;
    height: 50px;
    width: 200px;
}